.pt-page-1 {
	background: #0ac2d2;
	color:#fff;
}

.pt-page-2 {
	background: #7bb7fa;
}

.pt-page-3 {
	background: #60d7a9;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: #f68dbb;
}
.pt-page-7 {
	background: #0ac2d2;
}

.pt-page-8 {
	background: #7bb7fa;
}

.pt-page-9 {
	background: #60d7a9;
}

.pt-page-10 {
	background: #fdc162;
}

.pt-page-11 {
	background: #fd6a62;
}

.pt-page-12 {
	background: #f68dbb;
}
.pt-page-13 {
	background: #0ac2d2;
}

.pt-page-14 {
	background: #7bb7fa;
}

.pt-page-15 {
	background: #60d7a9;
}

.pt-page-16 {
	background: #fdc162;
}

.pt-page-17 {
	background: #fd6a62;
}

.pt-page-18 {
	background: #f68dbb;
}
.pt-page-19 {
	background: #0ac2d2;
}

.pt-page-20 {
	background: #7bb7fa;
}

.pt-page-21 {
	background: #60d7a9;
}

.pt-page-22 {
	background: #fdc162;
}

.pt-page-23 {
	background: #fd6a62;
}

.pt-page-24 {
	background: #f68dbb;
}
.pt-page-25 {
	background: #0ac2d2;
}

.pt-page-26 {
	background: #7bb7fa;
}

.pt-page-27 {
	background: #60d7a9;
}

.pt-page-28 {
	background: #fdc162;
}

.pt-page-29 {
	background: #fd6a62;
}

.pt-page-30 {
	background: #f68dbb;
}